body {
  margin: 0;
}

#root {
  height: 100vh;
}

.login-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f2f2f2;
}

.login-form {
  background: white;
  padding: 40px;
  border-radius: 8px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;

  width: 320px;
}

.login-input {
  margin-bottom: 15px;
  padding: 10px;
}

.login-button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background: #0056b3;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}


.delete-text {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.delete-confirm {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-confirm:hover {
  background: #b52a37;
}